{% extends 'base.html.twig' %}

{% block title %}Brands{% endblock %}

{% block content %}
    <h1>Brands</h1>
    <div class="table-wrapper">
        <table class="table">
            <tbody>
            <tr>
                <th>BrandId</th>
                <td>{{ brand.brandId }}</td>
            </tr>
            <tr>
                <th>BrandName</th>
                <td>{{ brand.brandName }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <ul class="actions small">
        <li>
            <a href="{{ path('brands_index') }}" class="button">back to list</a>
        </li>
        <li>
            <a href="{{ path('brands_edit', {'brandId': brand.brandId}) }}" class="button">edit</a>
        </li>
        <li>
            {{ include('brands/_delete_form.html.twig') }}
        </li>
    </ul>
{% endblock %}
