{% extends 'base.html.twig' %}

{% block title %}
    Enter new password
{% endblock title %}

{% block content %}
    <section>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}

        {{ form_end(form) }}

    </section>
{% endblock content %}