{% extends 'base.html.twig' %}

{% block title %}Contracts index{% endblock %}

{% block content %}
    <h1>Contracts index</h1>
    <div class="table-wrapper">
        <table class="table">
            <thead>
            <tr>
                <th>Contract id</th>
                <th>Contract price</th>
                <th>Contract sale</th>
                <th>Contract signature date</th>
                <th>Contract supply date</th>
                <th>Contract supplier</th>
                <th>Contract customer</th>
                <th colspan="2">actions</th>
            </tr>
            </thead>
            <tbody>
            {% for contract in contracts %}
                <tr>
                    <td>{{ contract.contractId }}</td>
                    <td>{{ contract.contractPrice }}</td>
                    <td>{{ contract.contractSale }}</td>
                    <td>{{ contract.contractSignatureDate ? contract.contractSignatureDate|date('Y-m-d') : '-' }}</td>
                    <td>{{ contract.contractSupplyDate ? contract.contractSupplyDate|date('Y-m-d') : '-' }}</td>
                    <td>
                        {{ contract.contractSupplier ? contract.contractSupplier.supplierFirstName : '-' }}
                    </td>
                    <td>
                        {{ contract.contractCustomer ? contract.contractCustomer.customerFirstName: '-' }}
                    </td>
                    <td>
                        <a href="{{ path('contracts_show', {'contractId': contract.contractId}) }}">show</a>
                    </td>
                    <td>
                        <a href="{{ path('contracts_edit', {'contractId': contract.contractId}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <h3>No records found.</h3>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('contracts_new') }}" class="button">Create new</a>
{% endblock %}
