{% extends 'base.html.twig' %}

{% block title %}Contracts{% endblock %}

{% block content %}
    <h1>Contracts</h1>

    <div class="table-wrapper">
        <table class="table">
            <tbody>
            <tr>
                <th>ContractId</th>
                <td>{{ contract.contractId }}</td>
            </tr>
            <tr>
                <th>ContractPrice</th>
                <td>{{ contract.contractPrice }}</td>
            </tr>
            <tr>
                <th>ContractSale</th>
                <td>{{ contract.contractSale }}</td>
            </tr>
            <tr>
                <th>ContractSignatureDate</th>
                <td>{{ contract.contractSignatureDate ? contract.contractSignatureDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ContractSupplyDate</th>
                <td>{{ contract.contractSupplyDate ? contract.contractSupplyDate|date('Y-m-d') : '' }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <ul class="actions small">
        <li>
            <a href="{{ path('contracts_index') }}" class="button">back to list</a>
        </li>
        <li>
            <a href="{{ path('contracts_edit', {'contractId': contract.contractId}) }}" class="button">edit</a>
        </li>
        <li>
            {{ include('contracts/_delete_form.html.twig') }}
        </li>
    </ul>
{% endblock %}
