{% extends 'base.html.twig' %}

{% block title %}Customers index{% endblock %}

{% block content %}
    <h1>Customers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>CustomerId</th>
                <th>CustomerFirstName</th>
                <th>CustomerSecondName</th>
                <th>CustomerPhone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.customerId }}</td>
                <td>{{ customer.customerFirstName }}</td>
                <td>{{ customer.customerSecondName }}</td>
                <td>{{ customer.customerPhone }}</td>
                <td>
                    <a href="{{ path('customers_show', {'customerId': customer.customerId}) }}">show</a>
                    <a href="{{ path('customers_edit', {'customerId': customer.customerId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('customers_new') }}">Create new</a>
{% endblock %}
