{% extends 'base.html.twig' %}

{% block title %}Supplies index{% endblock %}

{% block content %}
    <h1>Supplies crud</h1>
    <div class="table-wrapper">
        <table class="table">
            <thead>
            <tr>
                <th>SupplyId</th>
                <th>SupplyQuantity</th>
                <th colspan="2">actions</th>
            </tr>
            </thead>
            <tbody>
            {% for supply in supplies %}
                <tr>
                    <td>{{ supply.supplyId }}</td>
                    <td>{{ supply.supplyQuantity }}</td>
                    <td>
                        <a href="{{ path('supplies_edit', {'supplyId': supply.supplyId}) }}">edit</a>
                    </td>
                    <td>
                        <a href="{{ path('supplies_show', {'supplyId': supply.supplyId}) }}">show</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('supplies_new') }}" class="button">Create new</a>
{% endblock %}
