{% extends 'base.html.twig' %}

{% block title %}Suppliers{% endblock %}

{% block content %}
    <h1>Suppliers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>SupplierId</th>
                <td>{{ supplier.supplierId }}</td>
            </tr>
            <tr>
                <th>SupplierName</th>
                <td>{{ supplier.supplierName }}</td>
            </tr>
            <tr>
                <th>SupplierSecondName</th>
                <td>{{ supplier.supplierSecondName }}</td>
            </tr>
            <tr>
                <th>SupplierAddress</th>
                <td>{{ supplier.supplierAddress }}</td>
            </tr>
            <tr>
                <th>SupplierPhone</th>
                <td>{{ supplier.supplierPhone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('suppliers_index') }}">back to list</a>

    <a href="{{ path('suppliers_edit', {'supplierId': supplier.supplierId}) }}">edit</a>

    {{ include('suppliers/_delete_form.html.twig') }}
{% endblock %}
