{# templates/profile/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    {{ user.firstName }}
{% endblock title %}

{% block content %}
    <section>
        <span class="image left"><img src="{{ asset('build/images/pic11.jpg') }}" alt="" /></span>
        <h3>{{ user.firstName }} {{ user.secondName }}</h3>
        <h4>{{ user.email }}</h4>
        <p>{{ user.bio }}</p>
        <ul class="actions">
            <li><a class="button" href="{{ path('edit_user', {id:user.id}) }}">Edit profile</a> </li>
        </ul>
    </section>
{% endblock content %}
