{% extends "base.html.twig" %}

{% block content %}
    <h1>{{ topic.title }}</h1>
    {{ topic.description }}
    {% for item in topic.products %}
        <h1>{{ item.title }}</h1>
        <p>{{ item.textField }}</p>
        <ul class="actions">
            <li><a href="{{ path('postspost_show_id', {slug: topic.slug, id: topic.id}) }}" class="button big">
                    Read More</a></li>
        </ul>
    {% endfor %}
{% endblock content %}