{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block content %}
    <h1>Categories</h1>
    <div class="table-wrapper">
        <table class="table">
            <tbody>
            <tr>
                <th>CategoryId</th>
                <td>{{ category.categoryId }}</td>
            </tr>
            <tr>
                <th>CategoryName</th>
                <td>{{ category.categoryName }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <ul class="actions small">
        <li>
            <a href="{{ path('categories_index') }}" class="button">back to list</a>
        </li>
        <li>
            <a href="{{ path('categories_edit', {'categoryId': category.categoryId}) }}" class="button">edit</a>
        </li>
        <li>
            {{ include('categories/_delete_form.html.twig') }}
        </li>
    </ul>
{% endblock %}
