{{ form_start(form) }}
<div class="row gtr-uniform">
    <div class="col-6 col-12-xsmall">
        {{ form_row(form.productName) }}
    </div>
    <div class="col-6 col-12-xsmall">
    {{ form_row(form.productManDate) }}
    </div>
    <div class="col-6">
        {{ form_row(form.productExpDate) }}
    </div>
    <div class="col-6 col-12-xsmall">
        {{ form_row(form.productCategory) }}
    </div>
    <div class="col-6 col-12-xsmall">
        {{ form_row(form.productBrand) }}
    </div>
    <div class="col-6">
        <button class="btn">{{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}