{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block content %}
    <div class="inner">
        <h1>Products</h1>

        <div class="table-wrapper">
            <table class="table">
                <tbody>
                <tr>
                    <th>Product Id</th>
                    <td>{{ product.productId }}</td>
                </tr>
                <tr>
                    <th>Product Name</th>
                    <td>{{ product.productName }}</td>
                </tr>
                <tr>
                    <th>Product ManDate</th>
                    <td>{{ product.productManDate ? product.productManDate|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Product ExpDate</th>
                    <td>{{ product.productExpDate ? product.productExpDate|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Product Brand</th>
                    {%  if product.productBrand is not null %}
                        <td>{{ product.productBrand.brandName }}</td>

                    {% else %}
                        <td>-</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Product Category</th>
                    {%  if product.productCategory is not null %}
                        <td>{{ product.productCategory.categoryName }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
        </div>

        <ul class="actions small">
            <li><a href="{{ path('products_index') }}" class="button">back to list</a></li>
            <li><a href="{{ path('products_edit', {'productId': product.productId}) }}" class="button">edit</a></li>
            <li>
                {{ include('products/_delete_form.html.twig') }}
            </li>
        </ul>
    </div>

{% endblock  content %}
