{# templates/profile/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title  %}
    Edit profile
{% endblock title %}

{% block content %}
    <section>
        <div class="row gtr-uniform">
            <div class="col-12">

            {{ form_start(form) }}{{ form_errors(form) }}
            {{ form_row(form.first_name) }}
            {{ form_row(form.second_name) }}

            {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock content %}


