{# templates/profile/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    {{ user.firstName }}
{% endblock title %}

{% block content %}
    <section>
        {% if user.headshot %}
        <span class="image left"><img src="{{ user.headshot.file }}" alt="" /></span>
        {% else %}
            <h3>image</h3>
        {% endif %}
        <h3>{{ user.firstName }} {{ user.secondName }}</h3>
        <h4>{{ user.email }}</h4>
        <p>{{ user.bio }}</p>
        {% if app.user == user %}
        <ul class="actions">
            <li><a class="button" href="{{ path('user_edit', {id:user.id}) }}">Edit profile</a> </li>
        </ul>
        {% endif %}
    </section>

    <section>
        <h4>{{ user.firstName }}  {{ user.secondName }}('s) posts</h4>
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                {% for post in user.posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.author }}</td>
                    <td>{{ post.topic }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </section>
{% endblock content %}
